# This env file should be checked into source control
# This is the place for default values that should be used in all environments
NEXT_PUBLIC_BASE_URL=http://localhost:3000
DATABASE_URL=
UPLOAD_DIR=
SMTP_URL=
SMTP_FROM=
NEXT_PUBLIC_STRIPE_PUBLIC=
STRIPE_SECRET=
